{% extends 'base.html' %}
{% block head %}
<title>Проєкти</title>
{% endblock head %}
{% block content %}
    <main class="container">
        {% if current_user.is_authenticated %}
        <h1>Привіт, {{ current_user.name }}</h1>
        <!-- Головний контент сторінки -->
        <div class="banner">
            {% for project in current_user.projects %}
            <div class="my-card">
                {{project.title}}
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </main>
{% endblock content %}
